* {
	margin: 0;
	box-sizing: border-box;
}

.loginContainer {
	margin-top: 20vh;
	margin-bottom: 10vh;
	margin-left: 40vw;
	margin-right: 40vw;
	text-align: center;
	border: 1px solid #629ada;
	border-radius: 20px;
	
	min-height: 500px;
}

.logo {
	max-width: 150px;
}

.loginForm {
	width: 100%;
}

form {
	max-width: 200px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="submit"] {
	margin-top: 40px;
}